.wrapper {
    grid-column-gap: 8.594vw;
    grid-row-gap: 8.594vw;
    flex-flow: column;
    display: flex;


}
.padding {
    z-index: 2;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vw;
    position: relative;
}
.title {
    grid-column-gap: 1.406vw;
    grid-row-gap: 1.406vw;
    text-align: center;
    flex-flow: column;
    align-items: center;
    display: flex;
    padding: 5rem 0;
}