.scaleYLogo {
    transform: scaleY(.9);
}


.section_about-hero {
    position: relative;
}


.header_nav {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.ourServicesPage {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vw;
    position: relative;
}
.listItemServices {
    padding: 2rem 0 0 0;
  
  
}
.titleServiceHead {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
   
    display: flex;
    max-width: 72%;
}
.titleServiceBody{
   
}
.isItemServices {

    height:30vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: var(--radius-block);
    margin-bottom: 1.234rem;
    box-shadow: .078vw .078vw .586vw #7d84921a;
}
@media screen and (max-width: 479px) {
    .isItemServices  {
        height:fit-content !important;
        flex-direction: column !important;
    }
    .imgItemService {
        height: 50vw !important;
    }
    .imgItemService,.isItemServicesInfo {
        max-width:100% !important;
    }
    .isItemServicesInfo {
     
        padding: 1rem !important;
    }
  }
  

  .titleServiceBody {
    height: fit-content;
  }
.imgItemService {
    max-width:50%;
    height: 100%;
    margin:0 !important;
  
}
.imgItemService img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
}
.isItemServicesInfo {
    max-width:50%;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.listItemServices .swiper-button-prev:after,.listItemServices .swiper-button-next:after {
    font-size: 1.2rem !important;
    color: var(--yellow) !important;
    font-weight: bold !important;
}
.listItemServices .swiper-button-prev:before,.listItemServices .swiper-button-next:before  {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 5px;
    z-index: -1;
}
..swiper-slide {
    position: relative;
}
.tag_sub_slider {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: .5vw 1.5vw;
    background-color: #fff;
    color: black;
    border-radius: var(--radius-block);
    font-size: .72rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 1
}