.scaleYLogo {
    transform: scaleY(.9);
}

.hero_big_img {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #e6e6e6;
}
.section_about-hero {
    position: relative;
}

.clear-style {
    text-decoration: none;
    background-color: unset;
    color: unset;
    
}
.header_nav {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.ourServicesPage {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vw;
    position: relative;
}
.listItemServices {
    padding: 2rem 0 0 0;
  
  
}
.titleServiceHead {
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
   
    display: flex;
    max-width: 72%;
}
.titleServiceBody{
   
}
.isItemServices {
    position: relative;
    height:30vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: var(--radius-block);
    margin-bottom:3.6rem;
    box-shadow: .078vw .078vw .586vw #7d84921a;
}
@media screen and (max-width: 479px) {
    .isItemServices  {
        height:fit-content !important;
        flex-direction: column !important;
    }
    .imgItemService {
        height: 50vw !important;
    }
    .imgItemService,.isItemServicesInfo {
        max-width:100% !important;
    }
    .isItemServicesInfo {
     
        padding: 1rem !important;
    }
    
.section_about-product {
    padding-top:30vw !important;
}
  }
  

  .titleServiceBody {
    height: fit-content;
  }
.imgItemService {
    max-width:50%;
    height: 100%;
    margin:0 !important;
  
}
.button-item-service {
    position: absolute;
    bottom: 2.5vw;
    right: 2.5vw;
    color: #8a8a8a;
    font-style: italic;
    padding: .313vw .781vw;
    border-radius: var(--radius-button);
}
.button-item-service:hover {
    color: var(--yellow);
    border: 1px solid gray;
    border-color: #e2e2e2;
    box-shadow: .078vw .078vw .586vw #7d84921a;

}
.imgItemService img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
}
.isItemServicesInfo {
    max-width:50%;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.swiper-button-prev,.swiper-button-next {
    z-index: 99 !important;
}
.swiper-button-prev:after,.swiper-button-next:after {
    font-size: 1.2rem !important;
    color: var(--yellow) !important;
    font-weight: bold !important;
}
.swiper-button-prev:before,.swiper-button-next:before  {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 5px;
    z-index: -1;
}
.swiper-slide {
    position: relative;
}
.tag_sub_slider {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: .5vw 1.5vw;
    background-color: #ffffffbe;
    color: black;
    border-radius: var(--radius-block);
    font-size: .72rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 1
}

.section_about-product {
    padding-top:5rem;
}

.submitScene {
    position: fixed !important;
    z-index: 9999;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9995;
}


.pagenotfound {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagenotfound h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.pagenotfound span {
    font-style: italic;
text-align: center;
    font-size: 1.1rem;
    width: fit-content;
    height: fit-content;
}
@media screen and (max-width: 479px) {
    .subonSlugStyle {
        flex-wrap:  unset !important;
        flex-direction: column;
    }
    .subonSlugStyle li {
        width: 100% !important;
    
    }

}
.subonSlugStyle {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    margin:0;
}
.subonSlugStyle li {
    width: 50%;

}
.imgItemServiceRelated {
    background-color: unset !important;
}
.imgItemServiceRelated .swiper-slide {

}
.info-sub-related h3{
    position: relative;
    color: #8a8a8a;
    background-color: white;
    font-size: 1rem !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 0  10px 20px;
   
}
.btnonSlider {
    border-radius: var(--radius-block);
    overflow: hidden;
    display: block;
}

@media (max-width:469px) {
    .imgItemServiceRelated .swiper-slide {
       
    }
}